<!DOCTYPE html>

<html>

    <head>
        
        <link rel="stylesheet" type="text/css" href="stylesheets/baby.css" >
        <link rel="stylesheet" type="text/css" href="stylesheets/vendors/ionicons.min.css" >
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <title>Baby Yogies</title>
    
    </head>
    
    <body>
        <header>
            <nav>
                <div class="row">
                    
                    <a href="#" alt="Baby Yogis" class="main-icon-link"><img src="images/baby-yogi-icon.png" alt="Baby Yogis" class="main-icon"></a>
                    
                    <ul class="main-nav">
                    <li><a href="#" class="js--babies-link">Babies</a></li>
                    <li><a href="#" class="js--quotes-link">Quotes</a></li>
                    <li><a href="#" class="js--contact-link">Contact</a></li>
                </ul>
                </div>
            </nav>
        
            <div class="main-heading">
                <h1>Baby Yogis</h1> 
                <h3>The Journey has just begun<br>there are always structural limitations !!!</h3>
            </div>
        </header>
        
        <section class="section-babies js--section-babies">
            <h2>Babies</h2>    
            <ul class="babies-row">
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/andrea.jpeg">
                        <p>Andrea</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/bhavna.jpeg">
                        <p>Bhavna</p>
                    </div>
                        
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/jigna.jpeg">
                        <p>Jigna</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/madhu.jpeg">
                        <p>Madhusmitha</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/mahesh.jpeg">
                        <p>Mahesh</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/baby-yogi-icon.png">
                        <p>Divya</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/baby-yogi-icon.png">
                        <p>Bhavya</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                        <img alt="Shyam" src="images/baby-yogi-icon.png">
                        <p>Sancharita</p>
                    </div>
                </li>
            </ul>
            <ul class="babies-row">
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/baby-yogi-icon.png">
                         <p>Roopali</p>
                    </div>
                </li>
            
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/raghu.jpeg">
                         <p>Raghu</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/shyam.jpeg">
                         <p>Shyam</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/srinath.jpeg">
                         <p>Srinath</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/balaji.jpeg">
                         <p>Balaji</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/esha.jpeg">
                         <p>Esha</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/vachna.jpeg">
                         <p>Vachna</p>
                    </div>
                </li>
                <li>
                    <div class="each-yogi">
                    <img alt="Shyam" src="images/sandeep.jpeg">
                         <p>Sandeep</p>
                    </div>
                </li>
            </ul>
            
        </section>
        
        <section class="images">
                <ul class="clearfix">
                    <li><figure><img alt="Imgage of Babies" src="images/img1.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img5.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img3.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img4.jpeg"></figure></li>
                </ul>
                <ul class="clearfix">
                    <li><figure><img alt="Imgage of Babies" src="images/img9.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img12.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img13.jpeg"></figure></li>
                    <li><figure><img alt="Imgage of Babies" src="images/img8.jpeg"></figure></li>
                </ul>
        </section>
        
        <section class="section-quotes js--section-quotes">
            <h2>Quotes</h2>
            <div class="row">
                <ul class="main-quote-list">
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">What if the water goes in through one nostril and does not come out of the other. There could be a possibility of a structural liitation.</p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/baby-yogi-icon.png"><span class="quote-author">- Sancharita</span></div>
                        </div>
                    </li> 
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">Hey Girls, I have a car. Aree ghoomenge, phirenge, naachenge, gaayenge, aish karenge aur kya<br><br></p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/srinath.jpeg"><span class="quote-author">- Srinath</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">With great bhurkha, comes great bhanda. Use bhurka banda to conserve prana.<br><br><br></p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/sandeep.jpeg"><span class="quote-author">- Sandeep</span></div>
                        </div>
                    </li>
                </ul>
                
                <ul class="main-quote-list">
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">Oh! can we get our elbows on the floor. What you guys can't even put your elbows on the floor. You guys are such losers (With disgusted face).</p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/vachna.jpeg"><span class="quote-author">- Vachna</span></div>
                        </div>
                    </li> 
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">Oh idhaar itna macchar hai. On such a poor place. Main andaar jaa rahee hoon. Macchar lad rahe hai (English Accent)</p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/esha.jpeg"><span class="quote-author">- Esha</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="single-quote">
                            <div class="quote"> &#8220;</div>
                            <p class="quote-text">Darling...... Oh My god, yesteray it was Super Hot, I had Super-Bad sleep, and now I am Super Tired.<br><br></p>
                            <div><img class="quote-author-image" alt="Shyam" src="images/andrea.jpeg"><span class="quote-author">- Andrea</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            
            
        </section>
        
        <section class="section-contact js--section-contact">
            <h2>Contact</h2>
            <ul class="contact-info">
                <li><i class="material-icons">phone</i>+ 91 8105079855</li>
                <li><i class="material-icons">email</i>raj_sampath@msn.com</li>
            </ul>
        </section>
        
        <footer>
            <div class="row">
                <ul class="footer-nav">
                    <li><a href="#" class="js--babies-link">Babies</a></li>
                    <li><a href="#" class="js--quotes-link">Quotes</a></li>
                    <li><a href="#" class="">Contact</a></li>
                </ul>
                
                <div class="footer-copy">
                    &copy; Baby Yogis
                </div>
            </div>
        </footer>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/main.js"></script>
        
    </body>


</html>