<!DOCTYPE html>

<html>
    <head>
        <title>Hippie Nerd</title>
        <link type="text/css" href="stylesheets/main.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="image-class">
                <img src="images/shyam-main.png" alt="Shyam Image" class="main-image">
                <ul class="contact-info">
                <li><i class="material-icons">phone</i>+ 91 8105079855</li>
                <li><i class="material-icons">email</i>raj_sampath@msn.com</li>
            </ul>
            </div>
        </header>
    </body>
</html>